.header-with-large-intro{
	width: 100%;
	padding: 144px 0 65px;
}
.header-with-large-intro.focus-on {
    padding: 105px 0 188px;
}
.header-with-large-intro .header-block h2 {
    max-width: 859px;
}
.header-with-large-intro .header-block.header-style-full h2{
    max-width:972px;

}
.header-with-large-intro .has-pattern-show {
    position: absolute;
    height: 73%;
    width: 60%;
    background-size: contain;
    top: 0;
    right: 0;
}


@media (max-width: 767px) {

.header-with-large-intro.focus-on {
    padding: 60px 0 60px;
}


	.header-with-large-intro{
		padding: 32px 0 65px;
	}
	.header-with-large-intro .header-block h2 {
		letter-spacing: 1px;
	}
}